<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        UTEPSA APP
        <small>Bienvenido a la aplicación de Utepsa.</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Utepsa</a></li>
        <li class="active">Inicio</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <ul class="timeline">

          <!-- timeline time label -->
          <li class="time-label">
              <span class="bg-red">
                  10 Feb. 2014
              </span>
          </li>
          <!-- /.timeline-label -->

          <!-- timeline item -->

          <li ng-repeat="notification in notifications track by notification.id">
              <!-- timeline icon -->
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item">
                  <span class="time"><i class="fa fa-clock-o"></i> {{1288323623006 | date:"dd MMMM 'de' yyyy  h:mma"}}</span>

                  <h3 class="timeline-header"><a href="#">{{notification.title}}</a> ...</h3>

                  <div class="timeline-body">
                      {{notification.content}}
                  </div>

                  <div class="timeline-footer">
                      <a class="btn btn-primary btn-xs">...</a>
                  </div>
              </div>
          </li>
          <!-- END timeline item -->
      </ul>

    </section>
    <!-- /.content -->